<style>
  .search-button{
    color: #14F074;
    background-color: transparent;;
    border: solid #14F074;
  }
  .search-box{
    color: #14F074;
    background-color: transparent;;
    border: solid #14F074;
  }
</style>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:black; border-bottom:solid #14F074">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="Fallout_4_logo.png" style="height: 150%">
        </a>
        <!-- categories and subcategories menu -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right">
          <ul class="nav navbar-nav">
            <% for( var cat in categoriesRoot) { %>
              <li class='dropdown'><a href='<%= categoriesRoot[cat].id %>' class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #14F074"><%= categoriesRoot[cat].id %> <span class='caret' style="color: #14F074"></span></a>
              <ul class="dropdown-menu" style="background-color:black">              
                <li><a href='<%= categoriesRoot[cat].id %>' style="color: #14F074">All <%= categoriesRoot[cat].id %></a></li>
                <% if (categoriesRoot[cat].categories != undefined) { %>
                    <% for (var i = 0; i < categoriesRoot[cat].categories.length; i++) { %>
                        <li><a href='<%= categoriesRoot[cat].categories[i].id %>' style="color: #14F074"><%= categoriesRoot[cat].categories[i].id %></a></li>
                    <% } %>
                <% } %>
              </ul>
              </li>
            <% } %>
          </ul>
        </div>        
      </div>      
      <!-- search box -->
      <form class="navbar-form navbar-left" method='get' action='/search'>
        <div class="form-group">
          <input type="text" class="form-control search-box" name="search" placeholder="Search the wasteland">
        </div>
        <button type="submit" class="btn btn-default search-button">Send nuke</button>
      </form>
      <img class="animated bounce infinite" src='vault-boy.png' style="max-height: 55px; float: right">
    </div>
</nav>
  
