<meta charset="UTF-8">
<title>Welcom to OCAPI</title>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- for slick carousel -->
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    <!-- For Animation -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <style>
    .radioactive{
        -webkit-animation:spin 5s linear infinite;
        -moz-animation:spin 5s linear infinite;
        animation:spin 5s linear infinite;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }}
    a {
        color: #14F074
    }
    </style>
    
</head>

<body style="background-color: black;background-image: url('background-1.jpg'); background-size:cover; background-repeat:no-repeat;background-attachment: fixed;">
    <script>
        $(document).ready(function(){
            $('.my-carousel').slick({
            adaptiveHeight: true,
            slidesToShow: 1,
            autoplay: true,
            autoplay: 1000
            });
        });
    </script>
<!-- NAV HEADER -->
<%- include('header.ejs', {categoriesRoot:categoriesRoot}) %>
<!-- ./NAV HEADER -->

<!-- MAIN CONTENT -->
<main >
    <h1 style="width:fit-content; color:#14F074; margin-top:45px; margin-bottom:45px; margin-left:auto; margin-right:auto; padding: 0 auto">    
        <image class="radioactive" src="radioactive.png" style="height: 50px; display: inline-block"><span style="margin-right:10px"></span>Welcome to the wasteland!<span style="margin-left:10px"></span><image class="radioactive" src="radioactive.png" style="height: 50px; display: inline-block">
    </h1>
    <h2 style="width:fit-content; color:#14F074; margin-top:45px; margin-bottom:45px; margin-left:auto; margin-right:auto; padding: 0 auto">The Brotherhood of Steel got the finest items in the wasteland!!!</h2>
    <h3 style="width:fit-content; margin-top:45px; margin-bottom:45px; margin-left:auto; margin-right:auto; padding: 0 auto; border: solid #14F074; background:black"><a href='top-seller' style="color:#14F074; padding:20px">Checkout our top selling power armors</a></h3>
    <div style="max-width: 1000px; margin-left:30px">
        <% for( var cat in categoriesRoot) { %>
            <!-- Wrap each main category inside a carousel -->
            <% if (categoriesRoot[cat].categories) {%> 
                <div class="my-carousel" style="height: 55%">
                    <!-- Loop though and display each subcategories -->
                    <% if (categoriesRoot[cat].categories != undefined) { %>
                        <% for (var i = 0; i < categoriesRoot[cat].categories.length; i++) { %>
                            <div style="border-top: solid #14F074; border-bottom: solid black">
                                <a href='<%= categoriesRoot[cat].categories[i].id %>'><image src='<%= categoriesRoot[cat].categories[i].image %>' style="opacity:.8"></a>                       
                                <h3 style="border: solid #14F074; padding:0 10px; margin-left: auto; margin-right: auto; width:fit-content; color: #14F074; background-color:black"><a href=<%= categoriesRoot[cat].categories[i].id %>> <%= categoriesRoot[cat].categories[i].id %></a></h3>
                            </div>
                        <% } %>
                    <% } %>
                    <!-- end carousel subcategories loop -->
                </div>
            <% } %>
        <% } %>
    </div>
</main>
<!-- ./MAIN CONTENT -->
</body>


