<html>
<head>
    <style>
    h4 {
        margin: 0px;
        color: #14F074
    }
    .product-card {
        background: grey;
        opacity: .93
    }
    </style>
</head>
<body style="background-color: black;background-image: url('background-1.jpg'); background-size:cover; background-repeat:no-repeat;background-attachment: fixed;">
<% for (var product in productsList) { %>
    <% if (productsList[product].product_image_link_m) { %>
        <div class="product-card" style="display:inline-block; max-width: 200px; border: solid black;">
            <image src='<%= productsList[product].product_image_link_m %>'>
            <div><h4><%= productsList[product].product_name %></h4><br><h4>$<%= productsList[product].price %></h4></div>
        </div>
    <% } %>
<% } %>
<!--<%= JSON.stringify(productsList) %>-->
</body>
</html>